<div id="logo">
	<img alt="netTNC" src="images/netTNC-logo.svg" />
</div>
<h1><img src="images/direwolf.svg" alt="Direwolf" /></h1>
<h2>Configuration</h2>
<form>
<div class="dw"></div>
<br/>
<input alt="Direwolf" type="button" onclick='updateDirewolf()' value="Update"/>
</form>
<script>
    var full = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');

    Handlebars.registerHelper('toLowerCase', function(str) {
      return str.toLowerCase();
    });
    
    Handlebars.registerHelper('toUpperCase', function(str) {
      return str.toUpperCase();
    });

    var socket = io.connect(full);

    var direwolf = new Direwolf();

    var template = Handlebars.templates['direwolf'];

    socket.on('direwolf', function(data) {
        direwolf.ParseConfig(data.toString());
        var html = template(direwolf);
        $('.dw').append(html);
    });

    socket.on('radios', function(data) {
        console.log(data);
    });

    socket.on('modems', function(data) {
	var template = Handlebars.templates['modems'];
	var html = template(data);
	Handlebars.registerPartial('modems',html);
    });

    function updateRadio(data) {
        socket.emit('radio', data);
    }

    function updateDirewolf() {
        socket.emit('direwolf', direwolf.toString());
    }

    function reloadDirewolf(){
	var html = template(direwolf);
	$('.dw').html(html);
    }
</script>

