<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.js"></script>
    <script src="handlebars.js"></script>
    <script src="javascripts/direwolf.classes.js"></script>
    <script src="javascripts/templates.js"></script>
</head>

<body>
    {{{body}}}
</body>
</html>
