<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.structure.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/handlebars.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/direwolf.classes.js"></script>
    <script src="/javascripts/templates.js"></script>
</head>

<body>
    {{{body}}}
</body>
</html>
